[Desktop Entry]
Type=Application
Name=sxiv
Categories=Graphics;
GenericName=Image Viewer
Exec=sxiv -a -f %F
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff;image/x-bmp;
NoDisplay=false
Terminal=false
Icon=sxiv.png
