gimp/parasiterc
gimp/templaterc
gimp/pluginrc
gimp/menurc
gimp/dockrc
gimp/templaterc
gimp/themerc
gimp/unitrc
freedesktop/desktop-entry/chrome-*
freedesktop/desktop-entry/mimeinfo.cache
freedesktop/desktop-entry/userapp*.desktop
